html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
.main .active {
  background: yellow;
}
.main header {
  height: 1.142857rem;
  background: #ccc;
  color: #fff!important;
}
.main header h1 {
  width: 100%;
  text-align: center;
  line-height: 1.142857rem;
}
.main section {
  padding: 0.428571rem;
  width: 100%;
  -webkit-flex: 1;
  background: #fff;
  overflow-y: scroll;
}
.main section img {
  width: 100%;
  height: auto;
}
.main footer {
  width: 100%;
  height: 1.142857rem;
  line-height: 1.257142rem;
}
.main footer ul {
  width: 100%;
  display: -webkit-flex;
}
.main footer ul li {
  -webkit-flex: 1;
  color: #000;
  text-align: center;
}
